[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
cmake = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
opencv-contrib-python = "*"
mtcnn = "*"
tensorflow = "*"
pillow = "*"
flask = "*"

[requires]
python_version = "3.8"
